TASK 1

In [ ]:

#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

import pandas as pd
import numpy as np

data=np.random.rand(4,4)
df=pd.DataFrame(data)
print(df)

          0         1         2         3
0  0.205816  0.306446  0.046852  0.093335
1  0.407336  0.511698  0.178204  0.413199
2  0.010798  0.092806  0.387836  0.162514
3  0.731159  0.234630  0.878986  0.562768

TASK 2

In [ ]:
#Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.205816        0.306446        0.046852        0.093335
1        0.407336        0.511698        0.178204        0.413199
2        0.010798        0.092806        0.387836        0.162514
3        0.731159        0.234630        0.878986        0.562768

TASK 3

In [ ]:
#Find the descriptive statistics of the 'df' dataframe.

statistics = df.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.338777        0.286395        0.372970        0.307954
std          0.307632        0.174470        0.365404        0.218495
min          0.010798        0.092806        0.046852        0.093335
25%          0.157061        0.199174        0.145366        0.145219
50%          0.306576        0.270538        0.283020        0.287857
75%          0.488292        0.357759        0.510624        0.450591
max          0.731159        0.511698        0.878986        0.562768

TASK 4

In [ ]:
#Check for the null values in 'df' and find the data type of the columns.

print(df.isnull())
print("\n")
df['Random value 1'].dtype, df['Random value 2'].dtype, df['Random value 3'].dtype, df['Random value 4'].dtype

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

(dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'))

TASK 5

In [ ]:
#Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

locmethod=df.loc[0:,'Random value 2':'Random value 3'] 
print(locmethod)
print('\n')
indmethod=df.iloc[0:,1:3] #Random value 1 to 4 (0, 1, 2, 3)
print(indmethod)

   Random value 2  Random value 3
0        0.306446        0.046852
1        0.511698        0.178204
2        0.092806        0.387836
3        0.234630        0.878986


   Random value 2  Random value 3
0        0.306446        0.046852
1        0.511698        0.178204
2        0.092806        0.387836
3        0.234630        0.878986